.form {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

fieldset {
  position: relative;
  margin: 0;
  padding: 20px 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  display: inline-flex;
  flex-direction: column;
  align-content: center;
}

.button-submit {
  width: 150px;
  margin: 10px 0;
}

.form__error {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% - 20px);
  color: rgb(240, 200, 50);
}
