@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.page {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #1e4e8d;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  mix-blend-mode: normal;
  color: #eee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-font-feature-settings: "kern" 1;
  font-feature-settings: "kern";
}

.button {
  color: inherit;
  margin: 0 auto;
  padding: 5px 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  background: linear-gradient(transparent, 70%, rgba(0, 0, 0, 0.3));
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s;
}

.hidden {
  display: none;
  visibility: hidden;
}
